 <html>
                <head>
                    <title></title>
                    <style type='text/css'>
                    body {background:white;color:blue;}
                    .body {font-family:Trebuchet MS;font-size:11px;color:blue;}
                    .body a {color:red;text-decoration:none;}
                    .body a:hover {text-decoration:none;color:orange;}
                    .head {font-size:17px;font-weight:bold;font-family:arial,Trebuchet MS;color:blue;}
                    </style>
                </head>
                <body>
                    <table width='600' border='0' align='center' cellpadding='5' cellspacing='5'>
                        <tr style='background:#002b46;text-align:center;'>
                            <td style='color:#fff;'><h2>Test Email</h2></td>
                        </tr>
                        <tr>
                        <td><strong>Hello!</strong></td>
                        </tr>
                        <tr  style='text-align: center;'>
                            <td >
                                <p>Thanks for Registration Any Guidance.Please verfiy your email.</p>
                            </td>
                        </tr>
                        <tr>
                        <td></td>
                        </tr>
                        <tr style='background:#002b46;text-align:center;height: 63px;'>
                            <td style='color:#fff;'>Copyright@Test</td>
                        </tr>
                    </table>
                </body>
            </html>